* {
    box-sizing: border-box;
    
}

body {
    background-image: url(../images/gravel.png);
    margin: 0; 
}

a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: right; 
    color: black;
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 1.5vw; 
}

h1, h2 {
    background-color: #4aaaaf; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff; 
    padding-left: 5px; 
    padding-right: 5px; 
    padding-bottom: 2px; 
    padding-top: 2px; 
    font-size: 2.5vw; 
}

nav h1, nav h2 {
     
    
    margin-left: 25%;  
    display: inline-block; 
    margin-right: auto;
    margin-bottom: 0; 
    margin-top: 0; 
    
}

/* header styles */

nav {
    border: 1px solid #cccccc; 
    width: 100%;
    background-color: #ffffff; 
    position: fixed; 
    z-index: 10; 
    
}

nav::after { 
    content: "";
    display: table;
    clear: both;
}



.blank {
    width: 25%; 
    float: left; 
    margin: 0; 
}

.name {
    width: 50%; 
    margin: 0; 
}

.links {
     
    width: 25%; 
    float: right; 
}

    
/* portfolio styles */

.proj-column {
    width: 45%; 
    float: left; 
}

.column {
   
    padding: 0; 
    height: 75px; 
    

}

.row {
    width: 100%; 
    margin: 0 auto; 
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.portfolio img {
width: 100%;
padding: 10px; 
}

.portfolio {
    width: 50%; 
    margin: 5px auto; 
    position: relative; 
    top: 60px; 
    
}

.proj-box {
position: relative; 
}

.proj-text { 
    position: absolute; 
    bottom: 5%; 
    right: 0%; 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
}

ul, li {
    display: inline; 
}

ul { 
    margin-left: 25%; 
    
}



